body {
    background-color:#eee2d6;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: max-content;   
}
#title h1 {
    text-align: center;
    margin-top: 40px;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 50px;
}       
#title img {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border-radius: 50%;
    border-style:ridge;
}
#quote {
    font-family: 'Kristi', cursive;
    text-align :center;
    margin-top: 80px;
    font-size: 40px;

}
.event-date {
    width: 100px;
    height: 20px;
    text-align:center;
    line-height: 26px;
    float: left;
    font-size: 15px;
    border-top: 2px solid #ccc;
    margin: -1px 0 0 0;
    padding: 4px 5px 6px 0;
    clear: left;
    font-weight: bold;
    background-color: rgb(77, 74, 75);
}
.event-desc {
    width: 625px;
    background: #f9f9f9;
    float: left;
    margin: 0;
    padding: 8px 12px 8px 8px;
    border-top: 1px solid #ccc;
    clear: right;
    font-size: 18px;
}
.event-desc-nth-child {
    border-bottom: 1px solid #ccc;
}
#main-content img {
    margin-left: 20px;
    border-style:groove;
    width: 300px;
}
#final-link{
    font-family:'Kristi';
    font-size: xx-large;
    text-align:center;
    text-decoration:underline;
} 